/* google fonts CDN */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Most useful Styles */
body {
  font-family: "Poppins", sans-serif;
}
.font-4 {
  font-weight: 400;
}

.font-5 {
  font-weight: 500;
}

.font-6 {
  font-weight: 600;
}

.font-7 {
  font-weight: 700;
}

.text-color-white {
  color: #ffffff;
}

.text-color-blue {
  color: #3f87f5;
}
.background-color-blue {
  background-color: #3f87f5;
}
.background-color-white {
  background-color: #ffffff;
}
.some-ligh-color {
  color: rgb(213, 206, 206);
}
.moments {
  margin-top: 100px;
}
.moments-hidden-btn {
  display: none;
}

#wedding-plus {
  margin-top: -72px;
}
.wedding-plus-hot {
  margin-top: -16px;
  margin-right: 22px;
}

.package-title {
  padding-bottom: 90px;
}

.pricing-title {
  margin-bottom: 670px;
}

.card1,
.card2,
.card3 {
  width: 30%;
  margin-right: 38px;
}
.asked-questions {
  margin-top: 100px;
  margin-bottom: 100px;
}

footer {
  background-color: #0b0d17;
}

@media only screen and (max-width: 576px) {
  .banner-title {
    font-size: 24px;
  }
  .moments-title {
    order: 0;
  }
  .moments-pragraph {
    order: 1;
  }
  .moments-img {
    order: 3;
  }
  .moments-btn {
    display: none;
  }
  .moments-hidden-btn {
    display: block;
    margin: auto;
  }
  .package-title {
    padding-bottom: 0px;
  }
  .package-card1 {
    margin-bottom: 50px;
  }

  #wedding-plus {
    margin-top: 72px;
    margin-bottom: 50px;
  }

  .card1,
  .card2,
  .card3 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .footer-copy-right {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .banner-title {
    font-size: 21px;
  }
  .banner-pragraph {
    font-size: 8px;
  }
  .moments-title {
    order: 0;
  }
  .moments-pragraph {
    order: 1;
  }
  .moments-img {
    order: 3;
  }
  .moments-btn {
    display: none;
  }
  .moments-hidden-btn {
    display: block;
    margin: auto;
  }
  .package-title {
    padding-bottom: 0px;
  }
  .package-card1 {
    margin-bottom: 50px;
  }
  #wedding-plus {
    margin-top: 72px;
    margin-bottom: 50px;
  }
  .card1,
  .card2,
  .card3 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 992px) {
  .package-title {
    padding-bottom: 0px;
  }
  .package-card1 {
    margin-bottom: 50px;
  }
  #wedding-plus {
    margin-top: 72px;
    margin-bottom: 50px;
  }

  .card1,
  .card2,
  .card3 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 50px;
  }
}
